<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/beans\_1\_1.xsd" version="1.1">

<managed-bean> 
    <managed-bean-name>catalogManager</managed-bean-name> 
    <managed-bean-class>logic.CatalogManager</managed-bean-class> 
    <managed-bean-scope>session</managed-bean-scope> 
</managed-bean> 
</beans>